@{
    ViewData["Title"] = "Home Page";
}

<style>
    body {
        background-image: url('/Images/img1.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
     
    }
    h1{
        color:aliceblue;
    }
</style>

<div class="text-center">
    <h1 class="display-4">Magazin De Flori</h1>
    <h3><a asp-action="Index" asp-controller="Floare">Magazin de Flori</a></h3>
</div>
